<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>iframe-window-name</title>

	<script type="text/javascript">
		let renderData = '<%- data%>'
	</script>
</head>
<body>
	<script type="text/javascript">
		window.name = renderData;
	</script>

</body>
</html>